@media (max-width: 767px) {
    .tour-listing-two__card-show-content {
      padding: 133px 30px 25px;
    }
  }
  @media (max-width: 767px) {
    .tour-listing-two__card-hover-content {
      padding: 23px 30px 25px;
    }
  }

@media (max-width: 767px) {
    .tour-listing-two__card-show-content {
      padding: 133px 30px 25px;
    }
  }

  @media (min-width: 901px) and (max-width: 1150px) {
    .slider1 .slides:nth-child(3) {
        left: calc(60% + 240px);
        background-size: cover
    }
  }

  @media (min-width: 767px) and (max-width: 991px) {
    .header-package{
        margin-bottom: 10rem;
    }
  }
